ristorino-backend/src/main/resources/wsdl/perukai.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://das.ubp.edu.ar/soap"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://das.ubp.edu.ar/soap"
                  targetNamespace="http://das.ubp.edu.ar/soap">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://das.ubp.edu.ar/soap"
                   targetNamespace="http://das.ubp.edu.ar/soap"
                   elementFormDefault="qualified">

            <xs:element name="consultarDisponibilidadRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tipoCocina" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="consultarDisponibilidadResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="sugerenciaChef" type="xs:string"/>
                        <xs:element name="turnosDisponibles" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="consultarDisponibilidadRequest">
        <wsdl:part element="tns:consultarDisponibilidadRequest" name="consultarDisponibilidadRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarDisponibilidadResponse">
        <wsdl:part element="tns:consultarDisponibilidadResponse" name="consultarDisponibilidadResponse"/>
    </wsdl:message>

    <wsdl:portType name="PerukaiPort">
        <wsdl:operation name="consultarDisponibilidad">
            <wsdl:input message="tns:consultarDisponibilidadRequest" name="consultarDisponibilidadRequest"/>
            <wsdl:output message="tns:consultarDisponibilidadResponse" name="consultarDisponibilidadResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PerukaiPortSoap11" type="tns:PerukaiPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarDisponibilidad">
            <soap:operation soapAction=""/>
            <wsdl:input name="consultarDisponibilidadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultarDisponibilidadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PerukaiPortService">
        <wsdl:port binding="tns:PerukaiPortSoap11" name="PerukaiPortSoap11">
            <soap:address location="http://localhost:8082/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
