perukai-backend/src/main/resources/xsd/perukai.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://das.ubp.edu.ar/soap"
           targetNamespace="http://das.ubp.edu.ar/soap"
           elementFormDefault="qualified">

    <xs:element name="consultarDisponibilidadRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tipoCocina" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="consultarDisponibilidadResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="sugerenciaChef" type="xs:string"/>
                <xs:element name="turnosDisponibles" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>